<div class="panel route-component loading">
    <ul class="trip-stops">
        <li class="stop-item start">
            <div class="marker-assembly">
                <div class="marker-icon"></div>
                <div class="marker-stem"></div>
            </div>
            <div class="stop-details">
                <span class="stop-name">___________________</span>
                <span class="stop-eta">......</span>
            </div>
        </li>
        <li class="stop-item">
            <div class="marker-assembly">
                <div class="marker-icon"></div>
                <div class="marker-stem"></div>
            </div>
            <div class="stop-details">
                <span class="stop-name">___________________</span>
                <span class="stop-eta">......</span>
            </div>
        </li>
        <li class="stop-item active">
            <div class="marker-assembly">
                <div class="marker-icon"></div>
                <div class="marker-stem"></div>
            </div>
            <div class="stop-details">
                <span class="stop-name">___________________</span>
                <span class="stop-eta">......</span>
            </div>
        </li>
        <li class="stop-item">
            <div class="marker-assembly">
                <div class="marker-icon"></div>
                <div class="marker-stem"></div>
            </div>
            <div class="stop-details">
                <span class="stop-name">___________________</span>
                <span class="stop-eta">......</span>
            </div>
        </li>
        <li class="stop-item end">
            <div class="marker-assembly">
                <div class="marker-icon"></div>
                <div class="marker-stem"></div>
            </div>
            <div class="stop-details">
                <span class="stop-name">___________________</span>
                <span class="stop-eta">......</span>
            </div>
        </li>
    </ul>
</div>