<div class="panel overview-component loading">
    <div class="route-overview">
        <div class="route-start">
            <div class="route-from loading">__________</div>
            <div class="route-region loading">__________</div>
            <div class="route-name loading">______________________</div>
        </div>
        <div class="route-end">
            <div class="route-to loading">__________</div>
            <div class="route-region loading">__________</div>
            <div class="route-name loading">______________________</div>
        </div>
    </div>
</div>

@code {
    
}
